{% extends 'layout.html.twig' %}
{#{% block body_content %}#}
    {#<div class="container">#}
        {#<section>#}
            {#<div class="page-header">#}
                {#<h1>Shorten really long URLs</h1>#}
            {#</div>#}
            {#<p name="lead">Shorten massive long URLs in a similar fashion to the zillion other URL shortening#}
                {#services out there.</p>#}

            {#<p>{{ form_errors(form) }}</p>#}

            {#<form role="form" method="post" action="/">#}
                {#<div class="row">#}
                    {#<div class="col-lg-12">#}
                        {#<label class="sr-only" for="url">Url</label>#}

                        {#<div class="input-group">#}
                            {#{{ form_widget(form.url, {attr: {class: "form-control input-lg", placeholder: 'Enter really long URL'|trans, autocomplete: "off" }}) }}#}
                            {#<span class="input-group-btn">#}
                                {#<button class="btn btn-primary btn-lg" type="submit">Shorten</button>#}
                            {#</span>#}
                        {#</div>#}
                        {#{{ form_rest(form) }}#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}

        {#</section>#}
    {#</div>#}
{#{% endblock %}#}
