<!DOCTYPE html>
<html lang="en-gb" ng-app="shortyApp">
<head>
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <title>{% block title %}Shorty - Yes, we need another URL shortener{% endblock %}</title>

    <link rel="shortcut icon" href="{{ app.request.basePath }}/favicon.ico" />
    <link rel="stylesheet" href="/css/shorty.css">
    <script src="/js/shorty.js"></script>
</head>
<body>

{% block body_content %}{% endblock %}

</body>
</html>

