{% macro render_flashbags(bags) %}
    {% for severity, flash in bags %}
        {% for alert in flash %}
            <div class="alert alert-{{ severity }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ severity|capitalize }}:</strong> {{ alert|raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}