<section>
    <div class="container">
        <div class="page-header">
            <h1>Details for short link <a ng-href="{{ details.short_url }}">{{ details.hash }}</a></h1>
        </div>

        <table class="url-details table table-striped">
            <tbody>
            <tr>
                <th>Short</th>
                <td><a ng-href="{{ details.short_url }}">{{ details.short_url | stripScheme }}</a></td>
            </tr>
            <tr>
                <th>Long</th>
                <td><a ng-href="{{ details.long_url }}">{{ details.long_url }}</a></td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ details.created | date: "yyyy/MM/dd HH:mm:ss" }}</td>
            </tr>
            <tr>
                <th>Clicks</th>
                <td>{{ details.clicks | number }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

