<section>
    <div class="page-header">
        <h1>Boring statistics</h1>

        <p class="lead">Recently created shorty links</p>
    </div>

    <table class="table table-striped" tagged-infinite-scroll="getMore()">
        <thead>
        <tr>
            <th>Short link</th>
            <th>Points to</th>
            <th>Date created</th>
            <th>Clicks</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="url in items">

            <td><a ng-href="/{{ url.id }}">{{ hostname }}/{{ url.id }}</a></td>
            <td><a ng-href="{{ url.url }}">{{ url.url }}</a></td>
            <td>{{ url.created | date:'MM/dd/yyyy @ h:mma' }}</td>
            <td><a ng-href="#/{{ url.id }}/details">{{ url.clicks | number }}</a></td>

        </tr>
        </tbody>
    </table>

</section>
