<section>
    <div class="container">
        <div class="page-header">
            <h1>Boring statistics</h1>

            <p class="lead">Recently created shorty links</p>
        </div>

        <table class="url-statistics table table-striped" tagged-infinite-scroll="getMore()">
            <thead>
            <tr>
                <th class="short-url">Short link</th>
                <th class="long-url">Points to</th>
                <th class="created">Date created</th>
                <th class="clicks">Clicks</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="url in items">

                <td class="short-url"><a ng-href="{{ url.short_url }}">{{ url.short_url | stripScheme }}</a></td>
                <td class="long-url"><a ng-href="{{ url.long_url }}">{{ url.long_url }}</a></td>
                <td class="created">{{ url.created | date:'yyyy/MM/dd HH:mm:ss' }}</td>
                <td class="clicks"><a ng-href="#/{{ url.hash }}/details">{{ url.clicks | number }}</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</section>
